!!! 5
%html
  %head
    %title pseudocitrus: fic masterpost
    %meta{:content => "width=320,initial-scale=1,maximum-scale=1", :name => "viewport"}
    %link{:href => "styles.css", :type => "text/css", :rel => "stylesheet"}
    %link{:href => "https://fonts.googleapis.com/css?family=Merriweather", :rel => "stylesheet"}
  %body
    .main
      %h1 fic masterpost
      %p hello! i'm pseudocitrus. here's a list of things i've written.

      %ul
        %li fics in pairings are listed such that newest=last
        %li 
          my 
          %a{:href => "https://archiveofourown.org/users/pseudocitrus/pseuds/pseudocitrus"} ao3
          contains more tags/descriptions ^^ (but i don’t post most “non-polished” stuff there.)
        %li the au tags (ex. “red child au”) contain multiple chapters and (sometimes) related headcanons
        %li 
          you can also look at 
          %a{:href => "https://pseudocitrus.tumblr.com/tagged/headcanons"} misc headcanons.
          these are loosely written fics by me, and also others’ headcanons :)
        %li 
          %a{:href => "http://pseudocitrus.tumblr.com/tagged/fic-translations"} some of my fics have also been translated into other languages

      %h2 recent
      %a.fic.nsfw.rough{:href =>"http://pseudocitrus.tumblr.com/post/166936602069/au-where-retouka-saves-human-kuronek-from-the"}
        %h3 please don’t eat me, pt. 2
        .desc 
          %p.desc-text ageswap, specieswap au
          .notes
            .s touka/kaneki
            .rough Ficlet
            .nsfw NSFW
        %a.fic.rough{:href =>"http://pseudocitrus.tumblr.com/post/166864152579/au-where-retouka-saves-human-kuronek-from-the"}
          %h3 please don’t eat me, pt. 1
          .desc 
            %p.desc-text ageswap, specieswap au
            .notes
              .s touka/kaneki
              .rough Ficlet
              .nsfw NSFW
        %a.fic.rough{:href =>"http://pseudocitrus.tumblr.com/post/166849252924/hc-where-some-evenings-touka-stays-up-to-wait-for"}
          %h3 the things that embarrass you
          .desc 
            %p.desc-text sleeping together
            .notes
              .s touka/kaneki
              .rough Ficlet
              .nsfw NSFW
        %a.fic.rough{:href =>"http://pseudocitrus.tumblr.com/post/166745278849/hc-where-touka-waits-a-long-time-for-kaneki-to"}
          %h3 if you want to
          .desc 
            %p.desc-text "do you not want to have sex again?"
            .notes
              .s touka/kaneki
              .rough Ficlet
              .nsfw NSFW
        %a.fic.rough{:href =>"http://pseudocitrus.tumblr.com/post/166696442064/hc-where-when-ui-says-it-back-to-the-surface"}
          %h3 back to the surface
          .desc 
            %p.desc-text ui and hirako make their way back up
            .notes
              .s ui koori/hirako take
              .rough Ficlet
              .nsfw NSFW
        %a.fic.rough{:href =>"http://pseudocitrus.tumblr.com/post/166692348964/hc-where-240-turned-haise-was-not-an-entity-anyone"}
          %h3 240-turned-haise
          .desc 
            %p.desc-text haise recovers
            .notes
              .s ui arima &amp;/haise
              .rough Ficlet
              .nsfw NSFW


      .series
        %h2 Tokyo Ghoul
        %h3 Kaneki Ken/Kirishima Touka
        %a.fic.rough{:href =>"http://pseudocitrus.tumblr.com/post/166936602069/au-where-retouka-saves-human-kuronek-from-the"}
          %h3 please don’t eat me, pt. 2
          .desc 
            %p.desc-text ageswap, specieswap au
            .notes
              .s touka/kaneki
              .rough Ficlet
              .nsfw NSFW
        %a.fic.nsfw.rough{:href =>"http://pseudocitrus.tumblr.com/post/166936602069/au-where-retouka-saves-human-kuronek-from-the"}
          %h3 please don’t eat me, pt. 2
          .desc 
            %p.desc-text Touka/Kaneki. ageswap, specieswap au
            .notes
              .rough Ficlet
              .nsfw NSFW




