!!! 5
%html
  %head
    %title pseudocitrus: fic masterpost
    %meta{:content => "width=320,initial-scale=1,maximum-scale=1", :name => "viewport"}
    %link{:href => "styles.css", :type => "text/css", :rel => "stylesheet"}
    %link{:href => "https://fonts.googleapis.com/css?family=Merriweather", :rel => "stylesheet"}
  %body
    .main
      %h1 fic masterpost
      %p hello! i'm pseudocitrus. here's a list of things i've written.

      %ul
        %li fics in pairings are listed such that newest=last
        %li 
          my 
          %a{:href => "https://archiveofourown.org/users/pseudocitrus/pseuds/pseudocitrus"} ao3
          contains more tags/descriptions ^^ (but i don’t post most “non-polished” stuff there.)
        %li the au tags (ex. “red child au”) contain multiple chapters and (sometimes) related headcanons
        %li 
          you can also look at 
          %a{:href => "https://pseudocitrus.tumblr.com/tagged/headcanons"} misc headcanons.
          these are loosely written fics by me, and also others’ headcanons :)
        %li 
          %a{:href => "http://pseudocitrus.tumblr.com/tagged/fic-translations"} some of my fics have also been translated into other languages

      %h2 recent
      %a.fic{:href =>""}
        %h3 please don’t eat me, pt. 2
        %p.ship Touka/Kaneki
        .notes
          .rough Rough
          .nsfw NSFW


      .series
        %h2 Tokyo Ghoul
        %h3 Kaneki Ken/Kirishima Touka
        %a.fic{:href =>""}
          %h3 please don’t eat me, pt. 2
          %p.ship Touka/Kaneki
          .notes
            .rough Rough
            .nsfw NSFW




